.inputLabel {
  font-size: 16px;
  line-height: 140%;
  color: #939A9E;
}

.form {
  @media (max-width: 991px) {
    :global {
      .MuiFormControl-fullWidth {
        margin-top: 10px;
        margin-bottom: 25px;
      }
    }
    .button {
      width: 100%;
    }
  }

  @media (min-width: 576px) {
    .button {
      max-width: 270px;
    }
  }
}
