.match{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ECF2FC;
  &:last-child{
    border-bottom: none;
  }
  img{
    display: block;
  }
  @media (max-width: 575px) {
    padding: 15px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (min-width: 576px) {
    padding: 11px 20px;
  }
}

.logo {
  @media (max-width: 575px) {
    img {
      max-width: 18px;
      height: auto;
    }
  }
  @media (min-width: 576px) {
    img {
      max-width: 30px;
      height: auto;
    }
  }
}

.matchMore{
  padding: 0 20px;
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
  
  @media (max-width: 575px) {

  }
  @media (min-width: 576px) {

  }
}
.matchMoreButtons{
  display: flex;
  a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 7px;
    &:last-child{
      margin-right: 0;
    }
  }

  @media (max-width: 575px) {

  }
  @media (min-width: 576px) {

  }
}
.item{
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  flex: 0 0 auto;
  flex-direction: column;
  &:last-child{
    margin-right: 0;
  }
  .title{
    color: #08131A;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.15;
  }
  @media (max-width: 575px) {

  }
  @media (min-width: 576px) {

  }

}
.time{
  color: #343949;
  font-weight: 500;

  @media (max-width: 575px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 9px;
  }
  @media (min-width: 576px) {
    font-size: 16px;
    line-height: 1.1875;
    margin-left: 20px;
  }
}
.date{
  color: #939A9E;

  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
    line-height: 1.21;
    margin-left: 20px;
  }
}
.score{
  color: #939A9E;
  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
  }
  @media (min-width: 576px) {
    text-align: center;
    font-size: 14px;
  }
}
.label{
  color: #343949;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 140%;
  }
  @media (min-width: 576px) {
    font-weight: 500;
    font-size: 16px;
  }
}
.command{
  display: flex;
  
  @media (max-width: 575px) {
    padding-bottom: 7px;
  }
  @media (min-width: 576px) {
    align-items: center;
    flex: 0 0 40%;
  }
}
.coefficient{
  display: flex;
  justify-content: space-between;

  .more{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #EDF1FF;
    border: 1px solid #D6DDF8;
    border-radius: 8px;
    width: 105px;
    height: 38px;
    color: #A9B8F2;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    &.active{
      background: #4286F4;
      color: #FFF;
      border-color: #D5DEFD;
    }
    &:hover{
      background: #D5DEFD;
      border: 1px solid #B6C2EF;
      color: #8095E4;
    }
    &:active{
      border: 1px solid #4286F4;
      background: #4286F4;
      color: #FFF;
    }
  }
  
  @media (max-width: 575px) {

  }
  @media (min-width: 576px) {

  }
}
