.match{
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ECF2FC;
  padding: 11px 20px;
  &:last-child{
    border-bottom: none;
  }
  img{
    display: block;
  }
}

.logo {
  img {
    max-width: 30px;
    height: auto;
  }
}

.matchMore{
  padding: 0 20px;
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
}
.matchMoreButtons{
  display: flex;
  a{
    margin-right: 7px;
    &:last-child{
      margin-right: 0;
    }
  }
}
.item{
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  flex: 0 0 auto;
  flex-direction: column;
  &:last-child{
    margin-right: 0;
  }
  .title{
    color: #08131A;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.15;
  }

}
.time{
  color: #343949;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin-left: 20px;
}
.date{
  font-size: 14px;
  color: #939A9E;
  line-height: 1.21;
  margin-left: 20px;
}
.score{
  text-align: center;
  font-size: 14px;
  color: #939A9E;
}
.label{
  color: #343949;
  font-weight: 500;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.command{
  display: flex;
  align-items: center;
  flex: 0 0 40%;
}
.coefficient{
  display: flex;
  justify-content: space-between;

  .more{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #EDF1FF;
    border: 1px solid #D6DDF8;
    border-radius: 8px;
    width: 105px;
    height: 38px;
    color: #A9B8F2;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    &.active{
      background: #4286F4;
      color: #FFF;
      border-color: #D5DEFD;
    }
    &:hover{
      background: #D5DEFD;
      border: 1px solid #B6C2EF;
      color: #8095E4;
    }
    &:active{
      border: 1px solid #4286F4;
      background: #4286F4;
      color: #FFF;
    }
  }
}
