.match{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:last-child{
    border-bottom: none;
  }
  img{
    display: block;
  }
  @media (max-width: 575px) {
    padding: 15px;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (min-width: 576px) {
    padding: 11px 20px;
    border-bottom: 1px solid #ECF2FC;
  }
}

.logo {
  @media (max-width: 575px) {
    img {
      max-width: 18px;
      height: auto;
    }
  }
  @media (min-width: 576px) {
    img {
      max-width: 30px;
      height: auto;
    }
  }
}

.matchMore{
  display: flex;

  @media (max-width: 575px) {
    padding: 0 15px;
    margin: 15px 0;
    overflow: hidden;
  }
  @media (min-width: 576px) {
    margin: 10px 0 30px 0;
    padding: 0 20px;
  }
}

.exactScore {
  position: relative;
  flex-direction: column;
  
    
  &::before {
    position: absolute;
    content: '';
    right: 1px;
    bottom: 0;
    width: 100px;
    height: 40px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(246, 248, 253, 0) 111.11%);
    z-index: 1000;
    
    pointer-events: none;
  }
  
  & > span {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  
  &Scroll {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    
    &Button {
      position: absolute;
      right: 10px;
      bottom: 9px;
      border-radius: 50%;
      background: #4286F4;
      z-index: 1001;
      
      &.hide {
        display: none
      }
      
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 22px;
        width: 22px;
      }
    }
  }
  
  &Buttons {
    display: flex;
  }
}

.matchMoreButtons{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;


  a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 7px;
    &:last-child{
      margin-right: 0;
    }
  }

  @media (max-width: 575px) {
    flex-direction: column;
  }
  @media (min-width: 576px) {
    align-items: center;
  }

  .eventType {        
    & > span {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
    }

    @media (max-width: 575px) {
      flex-direction: column;

      &:not(:first-child) {
        margin-top: 15px;
      }

      .buttons {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
      }
      
      button {
        margin-right: 7px;
        margin-top: 7px;
      }
    }
    @media (min-width: 576px) {
      margin: 20px 30px 0 0;

      & > div {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;

        button {
          margin-right: 7px;
          margin-top: 7px;
        }
      }
    }
  }
}
.item{
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  flex: 0 0 auto;
  flex-direction: column;
  &:last-child{
    margin-right: 0;
  }
  .title{
    color: #08131A;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.15;
  }
  @media (max-width: 575px) {

  }
  @media (min-width: 576px) {

  }

}
.time{
  color: #343949;
  font-weight: 500;

  @media (max-width: 575px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 9px;
  }
  @media (min-width: 576px) {
    font-size: 16px;
    line-height: 1.1875;
  }
}
.date{
  color: #939A9E;

  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
  }
  @media (min-width: 576px) {
    font-size: 14px;
    line-height: 1.21;
  }
}
.score{
  color: #939A9E;
  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    border-left: 1px solid #D9E0EB;
    color: #08131A;
    div{
      &:first-child{
        margin-bottom: 7px;
      }
    }
  }
  @media (min-width: 576px) {
    text-align: center;
    font-size: 14px;
  }
}

.container {
  max-width: 430px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > div {
    flex-grow: 1;
  }
}

.label{
  color: #343949;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 140%;
  }
  @media (min-width: 576px) {
    font-weight: 500;
    font-size: 16px;
  }
}
.command{
  display: flex;

  @media (max-width: 575px) {
    &:first-child{
      padding-bottom: 7px;
    }
  }
  @media (min-width: 576px) {
    align-items: center;
    flex: 0 0 40%;
  }
}
.coefficient{
  display: flex;

  @media (max-width: 575px) {
    padding: 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    button {
      margin-right: 7px;
      margin-bottom: 7px;
    }
  }
  @media (min-width: 576px) {
    justify-content: flex-end;

    button:not(:first-child) {
      margin-left: 7px;
    }
  }
}

.btnCoefficient {
  
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #F6F8FD;
  border: 1px solid #EDEFF5;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  display: block;
  .number{
    color: #939A9E;
  }
  &:hover{
    background: #E8EEFF;
    border: 1px solid #E1E7F9;
  }
  &:active{
    background: #4286F4;
    border: 1px solid #4286F4;
    color: #FFF;
    span{
      color: #FFF;
    }
  }
  @media (max-width: 575px) {
    min-width: 55px;
    min-height: 34px;
    padding: 5px;
  }
  
  @media (min-width: 576px) {
    min-width: 60px;
    min-height: 38px;
    padding: 0 8px;
  }
  
  &.up {
    animation: changeColorUp 3s;
    
    &::before {
      position: absolute;
      content: '';
      top: -8px;
      right: -8px;
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
      
      animation: changeColorUpPseudo 3s;
    }
    
    .rate {
      animation: changeColorUpRate 3s
    }
    
    @keyframes changeColorUp {
      from {
        background: #ECF8ED;
        border-color: #BEE8C2;
      }
      to {
        background: #F6F8FD;
        border-color:#EDEFF5;
      }
    }
    
    @keyframes changeColorUpPseudo {
      from {
        background: #BEE8C2;
      }
      to {
        background: transparent;
      }
    }
    
    @keyframes changeColorUpRate {
      from {
        color: #70CA78;
      }
      to {
        color: #343949;
      }
    }
  }
  
  &.down {
    animation: changeColorDown 3s;
    
    &::before {
      position: absolute;
      content: '';
      bottom: -8px;
      left: -8px;
      width: 16px;
      height: 16px;
      transform: rotate(45deg);
      
      animation: changeColorDownPseudo 3s;
    }
    
    .rate {
      animation: changeColorDownRate 3s;
    }
    
    @keyframes changeColorDown {
      from {
        background: #FFECEC;
        border-color:#FFB9B9;
      }
      to {
        background: #F6F8FD;
        border-color:#EDEFF5;
      }
    }
    
        
    @keyframes changeColorDownPseudo {
      from {
        background: #FFB9B9;
      }
      to {
        background: transparent;
      }
    }
    
    @keyframes changeColorDownRate {
      from {
        color: #F83159;
      }
      to {
        color: #343949;
      }
    }

  }
}



.more{
  display: flex;
  align-items: center;
  justify-content: center;

  background: #EDF1FF;
  border: 1px solid #D6DDF8;
  border-radius: 8px;

  color: #A9B8F2;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  &.active{
    background: #4286F4;
    color: #FFF;
    border-color: #D5DEFD;
  }
  &:hover{
    background: #D5DEFD;
    border: 1px solid #B6C2EF;
    color: #8095E4;
  }
  &:active{
    border: 1px solid #4286F4;
    background: #4286F4;
    color: #FFF;
  }

  @media (max-width: 575px) {
    width: 72px;
    height: 34px;
    margin-bottom: 7px;
  }

  @media (min-width: 576px) {
    width: 105px;
    height: 38px;
  }
}