.profile{
  margin-top: 36px;
  margin-bottom: 250px;
}
.card{
  border: 1px solid #EDEFF5;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 100%;
  text-align: center;
  padding: 25px 24px 18px 25px;
  img{
    margin-bottom: 22px;
  }
}
.ballanceUp{
  h3{
    margin-bottom: 30px;
  }
}

.rates{
  margin-top: 40px;
}

.tabPanel {
  display: flex;
  justify-content: space-between;
  padding: 8px 27px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ECF2FC;
  border-radius: 10px;
  margin-bottom: 38px;
}