.profile{
  margin-top: 36px;
  margin-bottom: 250px;
}

.tabPanel {
  display: flex;
  justify-content: space-between;
  padding: 8px 27px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ECF2FC;
  border-radius: 10px;
  margin-bottom: 38px;
}