.avatar{
  background: #FFF;
  padding: 30px 40px 31px 41px;
  text-align: center;
  border: 1px solid #EDEFF5;
  border-radius: 10px;
  img{
    display: block;
    margin: 0 auto 31px;
  }
  h3{
    margin-bottom: 16px;
  }
  a{
    font-size: 16px;
    line-height: 1.1875;
    color: #939A9E;
    margin-bottom: 25px;
    display: block;
  }
  .ballance{
    background: linear-gradient(151.68deg, #526BFF 0%, #4286F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
  }
}
